<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .card {
      }
      .card div {
        display: flex;
        align-items: center;
      }
      .card div h5 {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <ul>
      <li class="card">
        <h3>测试标题</h3>
        <div>
          <img
            width="30"
            height="30"
            src="https://t8.baidu.com/it/u=3908078704,3131125387&fm=218&app=126&size=f242,150&n=0&f=JPEG&fmt=auto?s=2B4013669D2AB357444D751A0200C091&sec=1668272400&t=158d7e1b5b2ff6fb1a144588a3837ece"
            alt=""
          />
          <h5>nick</h5>
        </div>
      </li>
      <li class="card">
        <h3>测试标题</h3>
        <div>
          <img
            width="30"
            height="30"
            src="https://t8.baidu.com/it/u=3908078704,3131125387&fm=218&app=126&size=f242,150&n=0&f=JPEG&fmt=auto?s=2B4013669D2AB357444D751A0200C091&sec=1668272400&t=158d7e1b5b2ff6fb1a144588a3837ece"
            alt=""
          />
          <h5>nick</h5>
        </div>
      </li>
      <li class="card">
        <h3>测试标题</h3>
        <div>
          <img
            width="30"
            height="30"
            src="https://t8.baidu.com/it/u=3908078704,3131125387&fm=218&app=126&size=f242,150&n=0&f=JPEG&fmt=auto?s=2B4013669D2AB357444D751A0200C091&sec=1668272400&t=158d7e1b5b2ff6fb1a144588a3837ece"
            alt=""
          />
          <h5>nick</h5>
        </div>
      </li>
    </ul>
  </body>
</html>
